<section class="food-scene-container">
    <div class="food-grid">
        <div *ngFor="let item of foodItems" class="food-item-wrapper" [style.width.px]="item.width"
            [style.zIndex]="item.zIndex" [style.left.%]="item.xPercent" [style.top.%]="item.yPercent"
            [style.transform]="'translate3d(0,' + item.floatY + 'px,0)'" (mouseenter)="onEnter(item)"
            (mouseleave)="onLeave(item)" (touchstart)="onEnter(item)" (touchend)="onLeave(item)">

            <div class="image-container">
                <img [src]="item.src" [alt]="item.alt" class="food-img" loading="lazy">
            </div>

        </div>
    </div>
</section>